
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.zip
[Dd]ebug*/
*.lib
*.sbr
Thumbs.db
[Ll]ib/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
*.csproj.user
*.vbproj.user
*.csproj.webinfo
*.vbproj.webinfo
Ankh.Load
*.projdata
*.pdb
*.positions
*proj.user
*proj.*.user
*.ncb
*.suo
*.plg
*.opt
*.ilk
*.pch
*.idb
*.clw
*.aps
*.resharper
*.resharper.user
*.snk
#java specific
*.class
#netbeans ignore personal stuff
nbproject/private/
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.metadata/
*.a
*.o
디버그/
debug/
